<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tech Blog</title>
  <link rel="stylesheet" type="text/css" href="../../public/css/jass.css">
  <link rel="stylesheet" type="text/css" href="../../public/css/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css">
</head>

<body>
  <header>
    <h1>Dashboard</h1>
  </header>
  <nav>
    <a href="/">Home</a>
    <a href ="/dashboard">Dashboard</a>
    <a href="/" id="logout" class="btn-no-style">Logout</a>
  </nav>
  <main>
    <div class="tech-blog">
      {{{body}}}
    </div>
  </main>

  <footer class="flex-row justify-center">
    <a href="/dashboard/new">New Post?</a>
  </footer>
  <script src="../../public/js/logout.js"></script>

</body>

</html>