<div>
  {{#each posts as |post|}}
  <section class="post-card">
    <a href="api/posts/edit/{{id}}">
    <header>{{post.title}}</header>
    <p>{{post.description}}</p>
    </a>
  </section>
  {{/each}}
</div>
<footer>
    <button class="btn btn-secondary"><a href ="/newpost">NEW POST +</a></button>
</footer>
