<div>
  <section class="post-card">
    <p>Post</p>
    <header>{{posts.title}}</header>
    <p>{{posts.description}}</p>
  </section>

  <div class="card-header">
    <h2>Edit Post</h2>
  </div>
  <form class="card-body" id="edit-post">
    <input type="text" class="form-input" name="post-title" id="editpost-title"/>
    <textarea name="post-body" id="editpost-body" cols="30" rows="10" class="form-input"></textarea>
    <button class="btn" id = "edit-btn">Submit</button>
  </form>
</div>

<script src ="/js/post.js"></script>