<div>
    {{#each posts as |post|}}
    <section class="post-card">
        <a href="placeholder">
            <header>{{post.title}}</header>
            <p>{{post.description}}</p>>
        </a>
        {{!-- <div>{{body}}</div> --}}
    </section>
    {{/each}}
</div>