<div>
  <div class="card-header">
    <h2>New Post</h2>
  </div>
  <form class="card-body" id="new-post">
    <input type="text" class="form-input" name="post-title" id = "post-title"/>
    <textarea name="post-body" id="post-body" cols="30" rows="10" class="form-input"></textarea>
    <button class="btn" id = "post-btn">Submit</button>
    <p><a href="/editpost">Edit</a></p>
  </form>
</div>
<script src ="/js/post.js"></script>