<div>
  <section class="post-card">

    <header>{{posts.title}} --by {{posts.user.username}}</header>
    <p>{{posts.description}}</p>
    <button>Comment</button>
  </section>
</div>

  {{!-- <a href="/dashboard/new">New Post</a> --}}

<script src="/js/post.js"></script>