<div>
  <section class="post">
    <h3>{{post.title}}</h3>
    <div>
      {{post.user.username}}
      <br>{{post.description}}
      <button>Comment</button>
      <button>Edit</button>
    </div>
  </section>
</div>
<script src="/js/post.js"></script>