.center-body{
    margin-left: 10vh;
    margin-right: 10vh;
}

*{
    background-color: #ece8e5;
}

nav{
    background-color: white;
}

h1{
    color: #cca79f;
}

h3{
    color:#606b7d;
}

.post-card{
    color: #7b5a51;
}